@page {
  size: 1280px 960.0px;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: calc(100vh * 0.025);
}

a.slide {
  position: relative;

  width:  calc(100vh * 4 / 3 -
    3.75em - 3.75em);
  height: calc(100vh - 3.75em - 3.75em);

  padding-left:   3.75em;
  padding-right:  3.75em;
  padding-bottom: 3.75em;
  padding-top:    3.75em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}
