@page {
  size: 1280px 960px;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: calc(960px * 0.025);
}

div.slide {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: max(calc(100vh - 960px), 0px);
  margin-top: 0px;
}

div.slide {
  width: calc(960px * 1280 / 960 - 3.75em - 3.75em);
  height: calc(960px - 3.75em - 5.75em);

  padding-left:   3.75em;
  padding-right:  3.75em;
  padding-bottom: 3.75em;
  padding-top:    5.75em;
}

div.slide.headless {
  width: calc(960px * 1280 / 960 - 3.75em - 3.75em);
  height: calc(960px - 3.75em - 3.75em);

  padding-left:   3.75em;
  padding-right:  3.75em;
  padding-bottom: 3.75em;
  padding-top:    3.75em;
}

div.slide.title {
  width: calc(960px * 1280 / 960 - 1.75em - 1.75em);
  height: calc(960px - 1.75em - 1.75em);

  padding-left:   1.75em;
  padding-right:  1.75em;
  padding-bottom: 1.75em;
  padding-top:    1.75em;
}

div.slide.image-fill {
  width: calc(960px * 1280 / 960 - 0.0em - 0.0em);
  height: calc(960px - 0.0em - 0.0em);

  padding-left:   0.0em;
  padding-right:  0.0em;
  padding-bottom: 0.0em;
  padding-top:    0.0em;
}
