html {
  background-color: black;

  /* These properties can be set to other values to make font rendering look
   * more similar between browsers, but I would like to use subpixel
   * antialiasing and font synthesis, so I'll have to accept the browser
   * differences instead, I guess. */
  -webkit-font-smoothing: subpixel-antialiased;
  font-synthesis: weight style small-caps;
  text-rendering: optimizeLegibility;
}

body {
  counter-reset: slide-number 0;

  display: block;
  margin: 0px;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

:not(div.slide.thanks) > h2 {
  position: absolute;
}

.hide-cursor {
  cursor: none;
}

div.slide {
  break-after: page;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  overflow: hidden;

  counter-increment: slide-number;
}

div.slide.title {
  justify-content: space-between;
  align-items: center;
}

div.slide.image-fill {
  display: block flow-root;
}

div.slide.image-fill > img,
  div.slide.image-fill > div,
  div.slide.image-fill > object {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 0;
  min-height: 0;
}

div.row > * {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

div.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 0;
  min-height: 0;
}

div.col > * {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

